* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
}

#calculator {
  width: 370px;
  border: 1px double rgb(0, 0, 0);
  position: relative;
  top: 247px;
  left: 488px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);

*/


}

#display {
  display: flex;
  width: 88%;
  height: 84px;
  margin-left: 12px;
  margin-top: 15px;
  background-color: rgb(0, 0, 0);
  border: none;
  font-size: 38px;
  color: white;
  text-align: right;
  pointer-events: none;


}

.calculator_buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 10px;

}

.button {
  width: 83px;
  height: 83px;
  margin: 3px;
  border-radius: 50px; /*do it 7 if you want square cut design*/
  background-color: rgb(192, 144, 85);
  border: 0px;
  font-size: 20px;
  color: white;



}

/* specific button color */
.light_grey {
  background-color: rgb(212, 212, 210);
  color: black;
  font-size: 18px;
}

.orange {
  background-color: rgb(255, 149, 0);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: rgb(80, 80, 80);
}

/* colour work end */

/* to increase 0 */
#zero {
  width: 175px;
  
}

#ex {
  font-size: 20px;
}

#plus {
  font-size: 25px;
}

/* apple logo */
#apple-logo {
  position: absolute;
  width: 47px;
  top: 176px;
  left: 211px;
  z-index: 10;
}

/*
#calculator {
  position: relative;
  margin-top: 100px;  Adjust the value as needed 
}*/

/* You can also style the AC button for better placement */
/* .button.light_grey {
  margin-top: 10px;
} */
